@import "/src/styles/cores.scss";
.component {
  .logo {
    margin-right: 15vw;
    align-self: center;
  }
  .topbar {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;

  }
  .navbarDesktop {
    display: flex;
    align-items: center;

    p {
      margin-right: 4vw;
      color: $dark-blue;
      font-size: 0.8rem;
    }
    
    button {
      background-color: $soft-red;
      font-weight: 500;
      padding: 1vw 3vw;
    }
  }
}
