@import '/src/styles/cores.scss';

.component {
  .blueBg {
    background-color: $soft-blue;
    width: 50vw;
    height: 50vh;
    border-radius: 150px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .heroImg {
      position: absolute;
    }
    .blueBg {
      position: absolute;
      right: -15vw;
      z-index: -1;
      top: 10vh;
    }
  }
}
