@import "/src/styles/cores.scss";

.component {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;

  .simpleBook {
    padding-left: 8vw;
    padding-right: 4vw;

    button {
      margin-right: 1vw;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    margin: 3vh 0;
  }
}

.container {
  position: relative;


  .blueBg {
    background-color: $soft-blue;
    width: 50vw;
    height: 40vh;
    border-radius: 150px;
    position: absolute;
    right: -15vw;
    z-index: -1;
    top: 20vh;
  }
}
