@import "/src/styles/cores.scss";

.component {
  margin-bottom: 20vh;

  .downloadText {
    text-align: center;
    margin: 5vh 30vw;
    
    h2 {
      margin: 2vh;
    }
  }

  .browsersContainer {
    display: flex;
    justify-content: center;
    
    .browser {
      display: flex;
      flex-direction: column;
      margin: 2vw;
      align-items: center;
      justify-content: center;
      box-shadow: $grayish-blue 0px 4px 8px;  
      height: 50vh;
      border-radius: 15px;

      &:nth-child(2) {
        margin-top: 8vh;
      }
  
      &:nth-child(3) {
        margin-top: 14vh;
      }

      button {
        padding: 1vw 2vw;
        margin: 0;
        margin-top: 4vh;
      }
    }
    .browserLogo, p {
      margin: 2vh 0;
    }
  }
}