@import "/src/styles/cores.scss";
.component {
  background-color: $soft-blue;
  text-align: center;
  padding: 8vh 10vw;
  .stayUp {
    h2,
    p {
      color: white;
      margin-bottom: 4vh;
    }
    button {
      &:hover {
        transition: 0.3s;
        background-color: white;
        border: 2px solid $soft-red;
        color: $soft-red;
      }
    }
  }
  p {
    font-size: 0.8rem;
  }
  button {
    background-color: $soft-red;
  }
  input {
    padding: 1vw;
    width: 20vw;
    border-radius: 5px;
    border: none;
    margin-right: 1vw;

    &::placeholder {
      color: $grayish-blue;
    }
  }
}

@media (max-width: 600px) {
  .component {
    .stayUp {
      .email {
        display: flex;
        flex-direction: column;

        input {
          width: initial;
          padding: 4vw;
          margin-bottom: 2vh;
        }
      }
    }
  }
}
