@import "/src/styles/cores.scss";

.component {
  .featuresText {
    text-align: center;
    padding: 0 30vw;

    p {
      margin-top: 2vh;
    }
  }

  .items {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    
    p {
      margin: 0 4vw;

    }
  }

  .features {
    margin-bottom: 30vh;
    margin-top: 15vh;

    .simple {
      display: none;

      .container {
        position: relative;
        
        img {
          width: 40vw;
          margin-left: 8vw;
        }
      }

      .text {
        padding: 0 10vw;
        margin: 8vh 0;
        
        h3 {
          font-size: 1.6rem;
        }
        p {
          margin: 4vh 0;
        }
      }

    }

    .speedy {
      display: flex;
    }

    .easy {
      display: none;
    }
  }

  .blueBg {
    background-color: $soft-blue;
    width: 60vw;
    height: 40vh;
    top: 12vh;
    left: -20vw;
    border-radius: 150px;
    z-index: -1;
    position: absolute;
  }
}