@import "/src/styles/cores.scss";

.component {
  .featuresText {
    text-align: center;
    padding: 0 30vw;

    p {
      margin-top: 2vh;
    }
  }

  .items {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    
    p {
      margin: 0 4vw;

    }
  }

  .features {

    .simple {
      display: flex;

      .text {
        display: flex;
        flex-direction: column;
      }
    }

    .speedy {
      display: none;
    }

    .easy {
      display: none;
    }
  }

  .blueBg {
    background-color: $soft-blue;
    width: 50vw;
    height: 40vh;
    border-radius: 150px;
    z-index: -1;
  }
}